// $green: #e1ffc4;
// $yellow: #fff3cd;
// $red: #ffd2dd;
// $blue: #ccfaff;
// $indigo: #d9d2ff;
// $orange: #ffdccb;
// $test: #ffd2dd;
$primary: #6f42c1;
// $secondary: #6610f2;
// $dark: #2d2a2e;
// $dark: #2a2b2e;
$lightIndigo: #bcb0ff;


@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  & > * {
    height: 100%;
  }
  background-image: url('../public/bg_soft_colors.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar-toggler.navbar-toggler.navbar-toggler {
  border-color: $lightIndigo;
  color: $lightIndigo;
  .navbar-toggler-icon  {
    background-image: url("../public/icons8-menu.svg");
  }
  &:focus {
    box-shadow: none;
  }
  &.open {
    box-shadow: 0 0 0 0.15rem;
  }
}

.navbar-brand.navbar-brand.navbar-brand {
  font-style: italic;
  position: relative;
  margin-left: 16px;
  &:after {
    content: '';
    position: absolute;
    background-color: $primary;
    height: 3px;
    width: 64px;
    left: 42px;
    bottom: 6px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
